@charset "UTF-8";

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#body {
	position: relative;
	width: 1400px;
	height: 700px;
	margin: 0 auto;
}

#study_nav {
	margin-top:50px;
	width: 210px;
	height: 600px;
	margin-left: 55px;
	float: left;
	border: 2px solid black;
	margin-left: 55px;
}

#study_wrap {
	margin-top:50px;
	width: 805px;
	height: 550px;
	margin-left: 85px;
	float: left;
	border-bottom: 2px solid black;
	float: left;
	margin-left: 85px;
}

#study_title {
	height: 70px;
	width: 100%;
	font-size: 25px;
}

#study_user {
	height:400px;
	box-shadow: 0px 0px 4px #adffff;
}


.CardsList-navControl {
	bottom: 0;
	position: absolute;
}

.previousButton {
	left: 33%;
}

.nextButton {
	right: 33%;
}

.progressIndex {
	left: 40%;
	right: 40%;
	margin: auto;
	text-align: center;
}

#study_user_nav {
	font-size: 20px;
	width: 80%;
	margin-left: 10%;
	clear:both;
}

#study_user_nav>li {
	height: 35px;
	text-decoration: none;
	padding: 8px 15px 8px 15px;
	font-weight: bold;
}

#study_user_nav>li>a {
	color: #000000;
	opacity: .8;
	text-decoration: none;
}

#study_user_nav>li>a:hover {
	border-bottom: 2px solid #ff9900;
}

.fontAwsome {
	font-family: "Arial", FontAwesome;
}
/* 애니메이션 시작 */
div.card_wrap {
	width: 100%;
	height: 350px;
	float: left;
	
}

div.study_area {
	width: 580px;
	height: 500px;
	float: left;
	position: relative;
}

div.card {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	cursor: pointer;
	/* position: relative 까지 포함됨 */
	perspective: 1000px;	
}

.front, .back {
	width: 100%;
	height: 100%;
	border: 1px solid gray;
	border-radius: 10px;
	
	/* position: relative가 조상에 있어야함 */
	/* 최종위치  */	
	position: absolute;
	
	/* 애니메이션 */
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
}

.back {
	transform: rotateX(180deg);
}

.next {
	transition: opacity, transform;
	transition-duration: 1000ms;
	opacity: 0;
	transform: translateX(-15%);
}

.previous {
	transition: opacity, transform;
	transition-duration: 1000ms;
	opacity: 0;
	transform: translateX(15%);
}

/* 애니메이션 끝 */

#study_user_nav>li>a>span {
	color:#00CCFF;
}
#user_data {
	width:100%;
}
#logo {
	width:100%;
	height:140px;
	text-align: center;
	line-height:140px;
}

#logoImg {
	width:100px;
	height:100px;
	
	/* 정렬 */
	vertical-align:bottom;
	
	/* 둥글게 */
	border-radius: 70%;
	overflow: hidden;
}

#user_data_nick {
	margin-top:10px;
	text-align:center;
	font-size:20px;
	height:40px;
}

#user_wrap {
	width: 195px;
	height: 500px;
	margin-left: 30px;
	float: left;
}

#icon_home {
	font-size:30px;
	color:#00CCFF;
	text-decoration: none;		
}

#icon_home:hover {
	text-decoration: none;	
}

#follow_wrapper {
	width: 100%;
 text-align: center;
}
#follow {
	display: inline-block;
}

#heart {
	margin-top:10px;
	font-size:20px;
	color:#FF0000;
}