@charset "UTF-8";

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

#body {
	position: relative;
	width: 1400px;
	height: 700px;
	margin: 0 auto;
}

#study_nav {
	margin-top: 50px; 
	width : 182px;
	height: 600px;
	margin-left: 55px;
	float: left;
	border: 2px solid black;
}

#study_wrap {
	margin-top: 50px;
	width: 690px;
	height: 500px;
	border-bottom: 2px solid #c3c3c3;
	float: left;
	margin-left: 85px;
}

#study_title {
	height: 70px;
	width: 100%;
	font-size: 25px;
	font-weight:bold;
}

#study_user {
	height: 400px;
	box-shadow: 4px 4px 4px #EEEEEE;
	text-align:center
}

.CardsList-navControl {
	bottom: 0;
	position: absolute;
}

.previousButton {
	left: 37%;
}

.nextButton {
	right: 37%;
}

.progressIndex {
	left: 45%;
	right: 45%;
	margin: auto;
	text-align: center;
	border: 1px solid #CCCCCC;
	border-radius:5px;
}

#study_user_nav {
	font-size: 16px;
	color:#515151;
	width: 80%;
	margin-left: 10%;
	clear: both;
	text-align:left;
}

#study_user_nav>li {
	height: 33px;
	text-decoration: none;
	padding: 8px 15px 8px 15px;
	font-weight: bold;
}

#study_user_nav>li>a {
	color: #000000;
	opacity: .8;
	text-decoration: none;
}

#study_user_nav>li>a:hover {
	border-bottom: 2px solid #F1C40F;
}

.fontAwsome {
	font-family: "Arial", FontAwesome;
}
/* 애니메이션 시작 */
div.card_wrap {
	width: 500px;
	height: 300px;
	float: left;
	
	position:relative;
}

div.study_area {
	width: 500px;
	height: 430px;
	float: left;
	position: relative;
}

div.card {
	width: 100%;
	height: 300px;
	transform-style: preserve-3d;
	cursor: pointer;
	/* position: relative 까지 포함됨 */
	perspective: 1000px;
}

.front, .back {
	width: 100%;
	height: 100%;
	border: 1px solid #CCCCCC;
	border-radius: 10px;
	overflow:hidden;
	
	/* flex 사용하기 위해서는 position: relative가 조상에 있어야함 */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* 애니메이션 */
	backface-visibility: hidden;
	
	position:absolute;
}

.back {
	transform: rotateX(180deg);
}

.button_back {
	transform: rotateX(180deg);
}

.next {
	transition: opacity, transform;
	transition-duration: 1000ms;
	opacity: 0;
	transform: translateX(-15%);
}

.previous {
	transition: opacity, transform;
	transition-duration: 1000ms;
	opacity: 0;
	transform: translateX(15%);
}

/* 애니메이션 끝 */
#study_user_nav>li>a>span {
	color: #4EA3DC;
}

#user_data {
	width: 100%;
}

#logo {
	width: 100%;
	height: 140px;
	text-align: center;
	line-height: 140px;
}

#logoImg {
	width: 100px;
	height: 100px;
	/* 정렬 */
	vertical-align: bottom;
	/* 둥글게 */
	border-radius: 70%;
	overflow: hidden;
}

#user_data_nick {
	margin-top: 10px;
	text-align: center;
	font-size: 20px;
	height: 40px;
}

#user_wrap {
	/* width: 195px;
	height: 500px; */
	
	width: 170px;
	height: 350px;
	
	margin-left: 20px;
	float: left;
}

#icon_home {
	font-size: 30px;
	color: #4EA3DC;
	text-decoration: none;
}

#icon_home:hover {
	text-decoration: none;
}

#followNo {
	width: 70%;
	height:20px;
	text-align:center;
	display:inline-block;
}

#following {
	float:left;
	text-align:right;
	width:45%;
}

#follower {
	float:right;
	text-align:left;
	width:45%;
}

#follow_divider {
	text-align:center;
	width:10%;
	float:left;
}

#aHeart {
	color: #E74C3C;
	text-decoration:none;
}

#aHeart:hover {
	color: #E74C3C;
	text-decoration:none;
}

#followNo a {
	font-size:11px;
	text-decoration: none;
	color:#000000;
}
#follow_wrapper>div>span>a:hover {
	text-decoration: none;
	color:#000000;	
}

#heart {
	width:100%;
}

#heart {
	text-align:center;
	margin-top:5px;
	font-size: 20px;
}

.card_left {
	left:0;
	height:100%;
	width:60px;
	border-radius: 10px 0px 0px 10px;
	outline:0;
	
	position:absolute;
	z-index:99;
}

.card_right {
	right:0;	
	height:100%;
	width:60px;
	border-radius: 0px 10px 10px 0px;
	outline:0;
	
	position:absolute;
	z-index:99;
}

.card_content {
	width:100%;
	height:100%;
	position:absolute;
	z-index:0;
}


.img {
	object-fit: contain;
	width:50%;
	height:50%;
}

.card_nav {
	
	font-size:50px;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align:center;
	
	/* rgba를 쓸경우 다 같이써야한다 */
	
	position:absolute;
	color:rgba(0, 0, 0, 0);
	background-color: rgba(0, 0, 0, 0);	
	
}
.card:hover .card_nav {
	
	/* 백드라운드 */
	background-color: rgba(207, 207, 207, 0.1);

	/* 폰트 */
	color:rgba(0, 0, 0, 0.3);
}

#index {
	height:30px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
}

.card_btn {
	font-size:30px;
	display:inline-block;
	height:32px;
	border:0;
	outline:0;
	background-color:initial;
	
	color:#000000;
}

#card_content {
	display: flex;
    align-items: center;
	width:100%;
	height:100%;
}

.text {
	
	text-align:center;
	
	width:50%;
	max-width:100%;
}

