@charset "UTF-8";

#body {
    position: relative;
    width: 1400px;
    margin: 0 auto;
}
 
#study_main {
	width: 100%;
	height: 555px;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

#study_main_left {
	width: 210px;
	margin-left:55px;	
	float: left;
	background-color: #FF0000;
}

#study_main_center {
	width: 585px;
	margin-left:85px;		
	float: left;
	background-color: #00FF00;
}

#study_main_right {
	width: 200px;
	margin-left:30px;
	float: left;
	background-color: #0000FF;
}

div {
	width: 100%;
	height: 100%;
}

.card_wrap {
	width: 100%;
	height: 100%;
	perspective: 1000px;
}

.card {
	transition: transform 1s;
	transform-style: preserve-3d;
	cursor: pointer;
}

.front, .back {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	backface-visibility: hidden;
}

.front {
	border: 2px solid black;
}

.back {
	border: 2px solid black;
	transform: rotateX(180deg);
}