@charset "UTF-8";

/*폰트 적용*/
@font-face {
	font-family: "NotoSansKR-Regular";
	src: url("fonts/NotoSansKR-Regular.otf");
}

@font-face {
	font-family: "NotoSansKR-Bold";
	src: url("fonts/NotoSansKR-Bold.otf");
}

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
}

/* footer */
.color {
	background-color: #4257B2;
}

#header {
	height: 50px;
}

#footerTop {
	height: 50px;
}

#footerBottom {
	height: 100px;
}

#divider {
	background-color: #f6f7fb;
	border: none;
	height: 2px;
	margin: 0;
	opacity: .2;
}

.logo {
	width: 30px;
	height: 30px;
}

#copywrite {
	text-align: right;
	color: #FFFFFF;
	font-size: 20px;
}
/* footer 끝 */

/* 헤더 */
#header {
	height: 50px;
}

.col {
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
	max-width: 100%;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav-item {
	color: #FFFFFF;
	margin-bottom: -1px;
	margin-top: 10px;
	text-align: center;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	-ms-flex-preferred-size: 0;
	flex-basis: 0;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.searchHeader{
	width:100%;
}

/* 헤더 끝 */