@charset "UTF-8";

/*폰트 적용*/
@font-face {
	font-family: "NotoSansKR-Regular";
	src: url("font/NotoSansKR-Regular.otf");
}

@font-face {
	font-family: "NotoSansKR-Bold";
	src: url("font/NotoSansKR-Bold.otf");
}

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
}

/* 헤더 */
#header {
	height: 70px;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
    align-items: center;
    text-align:center;
    font-family: "NotoSansKR-Regular";
}

.nav-item {
	color: #FFFFFF;
	text-align: center;
	display:inline-block;
	font-size:20px;
}

#title {
	font-family:"NotoSansKR-Bold", sans-serif;
	font-size: 30px;
	flex: 1 1 11%;
}

#followingHeader {
	flex: 1 1 4%;
	border-right:1px solid #FFFFFF;
}

#newHeader {
	flex: 1 1 4%;
}

#nav-search {
	flex: 1 1 50%;
}

#signUpHeader {
	flex: 1 1 4%;
}

#signInHeader {
	flex: 1 1 4%;
}

#searchHeader {
	border-radius: 20px;
	width: 100%;
	padding: 10px 5px 10px 10px;
	color:#000000;
	border:none;
	outline:none;
}

.btn-header {
	background-color: #4257B2;
	border:0;
	outline:0;
}

#aLinkHeader {
	text-decoration:none;
	color:#FFFFFF;
}

#aLinkHeader:hover {
	background-color: #4257B2;
}

/* 헤더 끝 */


/* footer */

.color {
	background-color: #4257B2;
}

#footerTop {
	height: 30px;
}

#footerBottom {
	height: 70px;
}

#divider {
	background-color: #f6f7fb;
	border: none;
	height: 2px;
	margin: 0;
	opacity: .2;
}

.logo {
	width: 30px;
	height: 30px;
}

#footerCopywrite {
	text-align: right;
	color: #FFFFFF;
	font-size: 25px;
	margin-top:15px;
}

/* 푸터 하단고정 */
html,body{height:100%}
body{margin:0}
#body{min-height:100%}
#content{padding-bottom:1.9em}
#footer{margin-top:-1.9em;}

/* footer 끝 */


/* 미디어쿼리*/
@media screen and (max-width: 1082px) {
	
	#followingHeader {
		display:none;
	}
	
	#newHeader {
		display:none;
	}
	
	#blankHeader {
		display:none;
	}
	#title {
		font-size: 20px;
		flex-basis: 25%;
	}
	
	#nav-search {
		flex-basis: 40%;
	}
	
	#signUpHeader {
		flex: 1 1 12.5%;
	}

	#signInHeader {
		flex: 1 1 12.5%;
	}
	
	#header {
		height: 50px;
	}
	
	#searchHeader {
	padding: 5px 5px 5px 10px;
	}
	
	.nav-item {
	font-size:15px;
	} 
	
	/* 푸터조절 */
	#footerTop {
		height: 10px;
	}
	
	#footerBottom {
		height: 33px;
	}
	
	#footerCopywrite {
		font-size: 15px;
		margin-top:6px;
	}
}