@charset "UTF-8";


/*폰트 적용*/
@font-face {
	font-family: "NotoSansKR-Regular";
	src: url("/Quizbook/assets/fonts/nanoSansKr/NotoSansKR-Regular.otf");
}

@font-face {
	font-family: "NotoSansKR-Bold";
	src: url("/Quizbook/assets/fonts/nanoSansKr/NotoSansKR-Bold.otf");
}

/* 여백 초기화 */
body, div, ul, li, dl, dt, ol, h1, h2, h3, h4, h5, h6, input, fieldset,
	legend, p, select, table, th, td, tr, textarea, button, form {
	margin: 0;
	padding: 0;
}

/* 고정형 헤더 */

/* 헤더 */
#header {
	height: 70px;
}

.nav {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
    align-items: center;
    text-align:center;
    font-family: "NotoSansKR-Regular", sans-serif;
}

.nav-item {
	color: #FFFFFF;
	text-align: center;
	display:inline-block;
	font-size:20px;
}

#title {
	font-family:"NotoSansKR-Bold", sans-serif;
	font-size: 30px;
	flex: 1 1 11%;
}

#searchHeader {
	border-radius: 20px;
	width: 100%;
	padding: 10px 5px 10px 10px;
	color:#000000;
	border:none;
	outline:none;
	
	font-family : "Arial", FontAwesome;
}

.btn-header {
	background-color: #4257B2;
	border:0;
	outline:0;
}

#aLinkHeader {
	text-decoration:none;
	color:#FFFFFF;
}

#aLinkHeader:hover {
	background-color: #4257B2;
}

/* 헤더 끝 */

/*로그인 이후 헤더*/
#header-wrap {
	min-width:1400px;
	height:50px;
	background-color: #4257B2;
}


.login-item {
	font-size:15px;
	color:#FFFFFF;
	padding:0px 10px 0px 10px;
}

.login-btn {
	width:70px;
	background-color: #4257B2;
	border:0;
	outline:0;
}

#loginHeader {
	width: 1400px;
	height:50px;
	background-color: #4257B2;
	margin: 0 auto;
    padding: 0 30px;
}

#login-followingHeader {
	border-right:1px solid #FFFFFF;
}

#login-title {
	font-family:"NotoSansKR-Bold", sans-serif;
	font-size:25px;
	width:100px;
	margin: 0px 70px 0px 0px;
}

#login-aLinkHeader {
	width:100px;
	font-size:20px;
	text-decoration:none;
}

#login-profileHeader {
	width:100px;
	margin: 0px 40px 0px 20px;
}

#login-nav-search {
	margin-right:50px;
	width:650px;
}

#profileImg {
	width:50px;
	height:50px;
	
}

#login-searchHeader {
	width:650px;
	height:30px;
	border-radius: 20px;
	padding: 10px 5px 10px 10px;
	color:#000000;
	border:none;
	outline:none;
	
	font-family : "Arial", FontAwesome;
}

#login-aLinkHeader:hover {
	background-color: #4257B2;
}

/* 고정형  푸터*/

#footer_Top {
	background-color: #4257B2;
	margin: 0 auto;
    padding: 0 30px;
	width: 1400px;
	height: 100%;
}

#divider {
	background-color: #f6f7fb;
	border: none;
	height: 2px;
	margin: 0;
	opacity: .2;
}

.footer_Top_bg {
    position: relative;
	height: 20px;
	background-color: #4257B2;
}

.footer_bg {
    position: relative;
    height: 60px;
	background-color: #4257B2;
}

.footer {
	background-color: #4257B2;
    position: relative;
    width: 1400px;
    height: 100%;
    margin: 0 auto;
    padding: 0 30px;
}


ul.footer_list{
	display: flex;
	flex-wrap: wrap;
	height:100%;
    align-items: center;
	
	
	list-style: none;
    text-align:center;
    font-family: "NotoSansKR-Regular";
}

li.footer_item{
	color: #FFFFFF;
	text-align: center;
	display:inline-block;
	font-size:20px;
}

.footer_item>a {
	padding:0px 10px;
	text-decoration:none;
	color:#FFFFFF;
}

#footer_item_copywrite {
	margin-left:100px;
}




/* 푸터 하단고정 */

html,body{height:100%}
#body{min-height:100%}


body{margin:0}
#content{padding-bottom:1.9em}
#footer{margin-top:-1.9em;}
/* footer 끝 */
